<html th:replace="partials :: pagina(~{::section}, 'Postagens', 'post')">
    <body>
        <section class="container mt-5">
            <div class="bg-primary text-white p-5 font-logo"><h3>Minhas Postagens</h3></div>
            <div class="mt-3">
                <a href="#" class="card text-decoration-none">
                    <div class="card-header bg-primary text-white"><h3>Título do meu post</h3></div>
                    <div class="card-body">
                        <p class="card-text text-dark">Comentários: 52</p>
                    </div>
                </a>
            </div>
        </section>
    </body>
</html>